<section class="Article">
	<div class="container">
		<div class="col-md-12">
			<header class="Article-header">
				<h1>Certificación C-CURRE 9000 Software House</h1>
				<span class="date">Subido 18/10/2016</span>
			</header>
			<div class="Article-image">
				<?= $this->Html->Image('/files/newImage.jpg'); ?>
			</div>
			<div class="Article-content">
				<p>Lorem ipsum dolor sit amet, justo choro his an. At dicit ignota mel, ne mea labore appetere phaedrum, duo no falli appellantur contentiones. At etiam recusabo definitionem nec, has te ludus signiferumque. Nam autem ancillae ea. Cu qui tale autem delicatissimi, ex per nobis ceteros. Has consequat complectitur ut, pri denique sententiae cu.</p>
				<p>Ei populo legimus tractatos duo. Cu pri vidit detraxit constituam, duo at tation dolore electram. Tamquam reprimique quaerendum vis te. Sit ea summo labitur definiebas, mel sale suscipit te, ne solum maluisset conceptam eam.His novum iriure at. Sea esse accusamus euripidis at, id mei audire ullamcorper, laudem postea id quo. Causae forensibus mei eu, et his autem exerci labores, et indoctum gubergren expetendis ius. Duo no harum nostrud accusam, probo latine meliore nec ad. Sit impedit inermis graecis cu.Eam ex sint consetetur, mei eu oportere deseruisse, eos cu ceteros fabellas argumentum. Pri an quas munere. Has id omnes tractatos imperdiet, audiam inciderint usu in. Cum ne nonumy adipiscing, ad pri utamur temporibus.</p>
				<p>Mel tantas accusam commune at, ad epicurei qualisque eam. Vix at paulo lucilius, ius animal labitur no. An nihil congue admodum vis, ne est ludus numquam. Sea in putent dissentias.</p>
				<p>Lorem ipsum dolor sit amet, justo choro his an. At dicit ignota mel, ne mea labore appetere phaedrum, duo no falli appellantur contentiones. At etiam recusabo definitionem nec, has te ludus signiferumque. Nam autem ancillae ea. Cu qui tale autem delicatissimi, ex per nobis ceteros. Has consequat complectitur ut, pri denique sententiae cu.<br>
				 Ei populo legimus tractatos duo. Cu pri vidit detraxit constituam, duo at tation dolore electram. Tamquam reprimique quaerendum vis te. Sit ea summo labitur definiebas, mel sale suscipit te, ne solum maluisset conceptam eam.</p>
				<p>His novum iriure at. Sea esse accusamus euripidis at, id mei audire ullamcorper, laudem postea id quo. Causae forensibus mei eu, et his autem exerci labores, et indoctum gubergren expetendis ius. Duo no harum nostrud accusam, probo latine meliore nec ad. Sit impedit inermis graecis cu.</p>
			</div>
		</div>
	</div>
</section>