<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->Html->url('/admin/users/home'); ?>">
                <?php echo $this->Html->image('admin/agroesNicaAdmin.png',array('height' => '100%')); ?>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="<?php echo $this->Html->url('/admin/users/home'); ?>">Inicio</a>
                </li>
                <li>
                    <a href="<?php echo $this->Html->url('/admin/news'); ?>">Noticias</a>
                </li>
                <li>
                    <a href="<?php echo $this->Html->url('/admin/albums'); ?>">Galerías</a>
                </li>
                <li>
                    <a href="<?php echo $this->Html->url('/admin/users'); ?>">Usuarios</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class=user>
                    <?php echo $this->Html->image('admin/user.png',array('height' => '100%')); ?>
                    <span class="title"><?php echo $this->Html->link('Cerrar Sesión','/admin/users/logout');?></span>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
