
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

#brandLogin {
    background: #1d70b8;
    height: 60px;
    min-width: 1280px;
    width: 100%;
    .wrapperLogo {
        float: left;
        margin-right: 1em;
        padding: 5px;
    }
}

#wrapperLogin {
    max-width: 50em;
    margin: 1em auto;
    #loginForm {
        margin: 2em auto;
        max-width: 20em;
        width: 100%;
        label, .submit {
            margin-top: 1em;
        }
    }
}

.wraperOut {
    background: #fff;
    @include box-shadow(rgba(200,200,200,0.7) 0 4px 10px 1px);
    @include border-radius(5px);
    box-sizing: border-box;
    padding: 1em;
}

#wrapper_main {
    max-width: 75em;
    margin: auto;
}

#pics {
    overflow: hidden;
    margin-bottom: 1em;
}

.bs-glyphicons {
    margin: 0;
    padding: 0;
    li {
        border: 1px solid #ddd;
        min-height: 65px;
        padding: 0.5em;
        margin: 0 -1px -1px 0;
        text-align: center;
        list-style: none;
        .headWrappers {
            @include border-radius(5px 5px 0 0);
            overflow: hidden;
            color: #fff;
            .glyphiconWrapper, .titleWrapper {
                float: left;
                height: 38px;
            }
            .glyphiconWrapper {
                background: #E42626;
                font-size: 2em;
                line-height: 1.2;
                width: 20%;
            }
            .titleWrapper {
                background: #FF4D44;
                font-size: 1em;
                font-weight: bold;
                line-height: 38px;
                width: 80%;
            }
        }
        .linksWrapper {
            background: #cdcdcd;
            @include border-radius(0 0 5px 5px);
            @include box-sizing(border-box);
            padding: 0.5em;
            width: 100%;
            .btn {
                margin-bottom: 1px;
                width: 100%;
            }
        }
    }
}

form {
    div {
        margin-bottom: 1em;
    }
    .row, .error-message {
        margin-bottom: 0;
    }
    .error-message {
        color: #C43C35;
        @include border-radius(5px);
    }
}

.pic_wrapper {
    background: #f6f6f6;
    border: solid 1px #CCC;
    clear: none;
    float: left;
    height: 161px;
    margin: 1px;
    overflow: hidden;
    position: relative;
    .pic {
        height: 100%;
        opacity: 0.5;
    }
}

.loading {
    background: rgba(255, 255, 255, 0.5);
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    embed {
        position: absolute;
        width: 100px;
        top: 50%;
        left: 50%;
        margin-left: -50px;
        margin-top: -50px; }
}

.delete {
    background: url('../img/admin/delete.png') no-repeat #CCC center;
    display: block;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
    padding: 10px;
    &:hover {
        background: url('../img/admin/delete.png') no-repeat #FF0D1D center;
    }
}

.labelStatus {
    width: 100%;
}

fieldset.bottom {
    margin-top: 3em;
}

#winnersWrap {
    margin-top: 2em;
    .panel {
        position: relative;
        .deleteWinner {
            color: #d9534f;
            position: absolute;
            right: 5px;
            top: 3px;
        }
    }
}

/* Colapsar menu antes del quiebre de Bootstrap */

@media (max-width: 1024px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
