.navbar-default {
    background: #1d70b8;
    border: 0;
    @include border-radius(0);
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: #fff;
    }
    .navbar-brand {
        padding: 5px;
        height: 60px;
    }
    .navbar-left {
        padding-left: 1em;
    }
    .navbar-nav {
        &>li {
            &>a, .title a {
                color: #fff;
                font-weight: bold;
                line-height: 30px;
                text-decoration: none;
                @include opacity(0.5);
                &:hover, .title a:hover {
                    color: #fff;
                    @include transition(all .25s ease);
                    @include opacity(1);
                }
            }
            &.user {
                padding: 5px;
                .title a {
                    font-size: 0.875em;
                }
            }
        }
    }
}
