.dataTable {
	@extend .table;
	@extend .table-striped;
}


.dataTables_paginate {
	a.paginate_button {
		cursor: pointer;
		display: block;
		float: left;
		padding: 1rem;
		border-top: 1px solid #DDD;
		border-bottom: 1px solid #DDD;
		border-left: 1px solid #DDD;
		&:hover, &.current {
			text-decoration: none;
			background: #337ab7;
			color: #fff;
		}
		&.next {
			border-right: 1px solid #DDD;
			@include border-radius(0 4px 4px 0);
		}
		&.previous {
			@include border-radius(4px 0 0 4px);
		}
	}
	span {
		span {
			display: none;
		}
	}
}
