.btn {
	&-agro {
		background: $primary-color;
		color: #FFF;
		font-family: $mainFont;
		font-weight: 700;
		padding: 16px 12px;
	}
}
.title {
	font-family: $mainFont;
	color: $font-color;
	font-size: 28px;
	font-weight: 700;
}

.subtitle {
	font-family: $mainFont;
	font-size: 13px;
}

.text {
	color: $font-color;
	font-size: 15px;
}