.Boxes {
	background-color: $secundary-color;
	//padding: 0px 0 55px;
	text-align: center;

	position: relative;
	display: inline-block;
	//height: 50px; 
	width: 100%;
	text-align: center;
	color: white;
	//line-height: 50px;
	text-decoration: none;
	padding-top: 77px;
	padding-bottom: 77px;
	background-clip: content-box;
	overflow: hidden;
	&:before {
		content: "sadasd ";
	    background: url(../img/triangletop.png);
	    width: 100%;
	    height: 77px;
	    position: absolute;
	    left: 0;
	    top: 0;
	    background-position: center;
	    background-color: #ff8d17;
	}
	&:after {
		content: " ";
	    background: url(../img/triangledown.png);
	    width: 100%;
	    height: 77px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    background-position: center;
	    background-color: transparent;
	}
	&-title {
		font-weight: 700;
		font-size: 23px;
	}
	&-subtitle {
		font-size: 12px;
	}
	.box {
		img {
			margin: 0 auto;
		}
	}
	.a-wrapper {
		padding-top: 80px;
	}
	.Anaquel {
		font-size: 20px;
	}
}
.BoxMain {
	background: url('../img/boxmain.png') center;
	background-size: cover;
	margin-top: -100px;
	padding: 150px 0;
	z-index: 10;
	.title {
		color: $primary-color;
	}
	.text {
		font-weight: 700;
	}
}
.BoxHistory {
	background-color: #e8e8e8;
	padding: 63px 0;
	.green {
		color: #048d49;
	}
}

.ExportsMainSection {
	background: url('../img/exportbanner.png') no-repeat center;
	padding: 73px 0;
	text-align: center;
	.ems-title {
		color: $secundary-color;
	}
	.ems-wrapper {
		margin: 0 auto;
		max-width: 910px;
		width: 100%;
	}
}

.ExportsCircle {
	margin-top: 50px;
	&-item {
		list-style: none;
	}
}

.ec-wrapper {
	text-align: center;
}

.Market {
	background-color: #e8e8e8;
	&-item {
		list-style: none;
	}
}

.Productos {
	position: relative;
    margin-bottom: 0px;
    padding-top: 430px;
	.bodeguero {
		position: absolute;
		top: -38px;
	    left: 50%; /* position the left edge of the element at the middle of the parent */
	    transform: translate(-50%, 0%); 
	}
	&-charact {
		position: relative;
		text-align: justify;
	}
}

.Advantage {
	&Down {
		text-align: center;
	}
}