.Footer {
  margin-top: 77px;
  position: relative;
  min-height: 318px; }
  .Footer-maps {
    border: 0;
    min-height: 318px; 
    display: none;
  }
  .Footer-bottom {
    background: #cdcdcd;
    width: 100%;
    text-align: center;
    padding: 28px 0; }
  .Footer-contact {
    color: #ff8d17;
    font-family: "Raleway", sans-serif; }
  .Footer-title {
    color: #ff8d17;
    font-family: "Raleway", sans-serif; }
  .Footer .form-control {
    border-radius: 0;
    margin-bottom: 10px; }
  .Footer .Galery-list {
    margin: 0;
    padding: 0;
    margin-bottom: 35px; }
  .Footer .Galery-item {
    list-style: none;
    background: #009933;
    display: inline-block;
    height: 88px;
    width: 31.33%; }

.f-wrapper {
  background: rgba(205, 205, 205, 0.35);
  width: 100%;
  padding-top: 100px;
}

.ViewMaps {
  background-color: rgba(205, 205, 205, 0.35);
  padding-bottom: 40px;
}