.Awards {
	text-align: center;
}
.Award {
	&Main {
		background-color: $secundary-color;
		height: 495px;
		position: relative;
		margin-bottom: 180px;
		&-content {
			font-weight: bold;
			color: $font-color;
		}
	}
	&-list {
		margin: 0;
		padding: 0;
	}
	&-item {
		font-size: 12px;
		display: inline;
		list-style: circle;
		margin: 0 10px;
		&:before {
			content:"• "
		}
	}
	&-quality {
		margin-top: 106px;
		&Info {
			margin: 0 auto;
			max-width: 550px;
		}
	}
}

.Control {
	padding: 100px 0;
	text-align: justify;
}

.Membresias {
	background-color: #e8e8e8;
	padding-bottom: 73px; 
	padding-top: 38px;
	text-align: center;
	.Quality-list {
		margin-top: 53px !important;
	}
}

.am {
	&-wrapper {
		margin: 0 auto;
		width: 50%;
		float: left;
		padding: 50px 20px 50px 0;
		.title {
			color: #FFF;
		}
	}
	&-imageBg {
		background: url('../img/certif-campo.jpg');
		width: 50%;
		height: 100%;
		float: left;
	}
}

.floatSeed {
    position: absolute;
    /* left: 77px; */
    bottom: -338px;
    width: 758px;
    transform: translate(-50%, -50%);
    left: 38%;
}