.News {
	position: relative;
	&-top {
		background: url('../img/backNews.jpg') repeat-x center -90px;
		height: 363px;
		overflow: hidden;
		position: relative;
		.container {
			position: relative;
			.text {
				position: relative;
				z-index: 10;
				h1 {
					color: #fff;
				    font-size: 3.5em;
					font-weight: 900;
				    margin-top: 1em;
				}
				p {
					color: $secundary-color;
					font-size: 1.25em;
					font-weight: 900;
				}
				.socialButtons {
					margin-top: -2.5em;
					img {
						vertical-align: bottom;
						margin-right: 0.8em;
					}
				}
			}
			.image {
				position: absolute;
				top: 3px; 
				right: 0;
			}
		}
	}
	&-list {
		background: $gray;
		.container {
			margin: 0 auto;
			padding: 0;
			article {
				padding: 8rem 0;
				overflow: hidden;
				.right, .left {
				    padding: 0 26px;
				}
				.left {
					color: #5d5d5d;
					float: left;
					width: 42%;
					h2 {
						margin: 0;
						font-size: 3.5rem;
						font-weight: 900;
					}
					.content {
						font-size: 1.25rem;
						margin-top: 4rem;
						text-align: justify;
						font-weight: 400;
					}
					.button {
						background: $primary-color;
						border-radius: 15px;
						color: #fff;
						float: right;
						font-size: 2rem;
						margin-top: 4rem;
						padding: 1.5rem;
						font-weight: 900;
						&:hover {
							text-decoration: none;
						}
					}
				}
				.right {
					float: right;
				    width: 58%;
					.image {
						width: 100%;
						text-align: center;
						img {
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

.Article {
	background: #fff;
	padding-bottom: 8rem;
	&-header {
		h1, .date {
			font-weight: 900;
		}
		h1 {
			color: #5d5d5d;
			font-size: 3rem;
			margin-top: 1em;
		}
		.date {
			color: #000;
			font-size: 1.5rem
		}
	}
	&-image {
		margin-top: 4rem;
		text-align: center;
		width: 100%;
		img {
			max-width: 100%;
		}
	}
	&-content{
	    color: #5d5d5d;
	    font-size: 1.5rem;
	    margin-top: 6rem;
	    overflow: hidden;
	    text-align: justify;
	    img {
	    	height: auto;
	    	width: 100%;
	    }
	    p {
	    	margin: 0 0 16px;
	    }
	}
}

@media screen and (max-width: 768px) {
	.News {
		&-list {
			.container {
				article {
					.left {
						.content {
							display: none;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 680px) {
	.News {
		&-list {
			.container {
				article {
					.left, .right {
						width: 100%;
					}
					.left {
						h2 {
							margin-top: 4rem;
						}
						.content {
							display: block;
						}
					}
				}
			}
		}
	}
}