body {
	font-family: $mainFont;
}
.HeaderMain {
	margin-top: 20px;
	min-height: 88px;
}

.Header {
	&logo {
		margin-top: 5px;
	}
	&-menuContainer .navbar-nav {
		li a {
			color: #818080 !important;
			font-family: $mainFont !important;
		}
	}
	.navbar-default {
		background: #FFF;
		border-color: #FFF;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background: #FFF !important;
	}
}

.socials {
	position: fixed;
    right: 15px;
    top: 27px;
    z-index: 999;
    li {
    	margin-bottom: 10px;
    	list-style: none;
    }
}