.About {
	.left, .right {
		margin-top: 4em;
		padding: 0 2em;
	}
	.left {
		.row {
			margin-left: -2em;
			margin-right: -2em;
			.left {
				margin-top: 0;
			}
		}
		h1 {
			color: $secundary-color;
			font-size: 4em;
			font-weight: 900;
		}
		h2, h3 {
			color: $dark-gray;
			font-size: 2.5em;
			font-weight: 900;
		}
		h3.vision {
			padding-left: 1em;
		}
		.text {
			margin-top: 1.5em;
			p, ul li {
				text-align: justify;
				font-size: 1.05em;
			}
			ul.history li {
				margin-top: 0.5em;
			}
			.green {
				color: $primary-color;
				padding-left: 2em;
				margin-top: 1em;
			}
			.button {
				background: $primary-color;
				color: #fff;
				font-weight: 900;
				padding: 0.75em 1.5em;
			    border-radius: 10px;
			    margin-top: 1em;
			    float: left;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	&-history {
		background: $gray;
		padding-bottom: 4em;
		.right {
			.image {
				img {
					max-width: 100%;
				}
			}
		}
	}
	&-bottom {
		margin-top: 4em;
		img {
			max-width: 100%;
		}
	}
}