.MainSection {
	margin-bottom: 130px;
}

.AboutFoot {
	background: url('../img/banner-foot.jpg') bottom center;
	height: 645px;
	text-align: center;
	position: relative;
	.btn-agro {
		margin-top: 100px;
	}
	.container {
		position: relative;
	}
	&-logo {
		position: absolute;
		bottom: -394px;
		left: 0px;
	}
}

.aboutHome {
	&-info {
		margin-bottom: 10px;
	}
	.text {
		margin-bottom: 34px; 
		margin-top: 44px;
	}
}

.advantages {
	background: url('../img/maiz.jpg');
	background-size: cover;
	min-height: 810px;
	margin-top: 142px;
	margin-bottom: 100px;
	padding-top: 80px;
	&Logo {
		margin-bottom: 140px;
		img {
			margin: 0 auto;
		}
	}
}

.Advantage {
	color: $primary-color;
	font-family: $mainFont;
	text-align: center;
	h3 {
		color: $primary-color;
		font-weight: bold;
	}
}

.Exportaciones {
	&-header {
		text-align: center;
	}
	&-maps {
		background: url('../img/home-mapa-exportaciones.gif') center no-repeat;
		height: 1028px;
		/* background-size: contain; */
		width: 100%;
	}
	.title {
		color: $primary-color;
		text-align: center;
	}
	.subtitle {
		color: $primary-color;
		font-weight: 700;
	}
}

.img-innerSlide {
	position: absolute;
    top: -580px;
    right: 0px;
    height: 450px !important;
}

.text-innerSlide {
	position: absolute;
    left: 0px;
    top: -510px;
    font-size: 52px;
    font-weight: 700;
    color: #FFF;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    line-height: 1;
    .best {
    	color: #fbc407;
    }
}

.Quality {
	&-header {
		text-align: center;
		margin-bottom: 70px;
	}
	&-list {
		margin: 0 !important;
		text-align: center;
	}
	&-item {
		display: inline-block;
		margin: 0 25px 15px;
		img {
			height: 110px;
		}
	}
	.title {
		color: $primary-color;
		text-align: center;
	}
	.subtitle {
		color: $primary-color;
		font-weight: 700;
	}
}