.Albums {
	color: #5d5d5d;
	.header {
		h1 {
			font-size: 3.5rem;
    		font-weight: 900;
		}
	}
	.list {
		.album {
			margin-top: 3rem;
			overflow: hidden;
			padding: 0 2em;
			figure {
				img {
					max-width: 100%;
				}
			}
			h3 {
				font-size: 1.75em;
				font-weight: 900;
			}
			.button {
				background: #009933;
			    border-radius: 15px;
			    color: #fff;
			    float: left;
			    font-size: 1.5rem;
			    margin-top: 1rem;
			    padding: 1rem;
			    font-weight: 900;
			}
		}
	}
}

.Album {
	background: #fff;
	padding-bottom: 8rem;
	&-header {
		h1, .date {
			font-weight: 900;
		}
		h1 {
			color: #5d5d5d;
			font-size: 3rem;
			margin-top: 1em;
		}
		.date {
			color: #000;
			font-size: 1.5rem
		}
	}
	&-content{
	    color: #5d5d5d;
	    font-size: 1.5rem;
	    margin-top: 6rem;
	    overflow: hidden;
	    text-align: justify;
	    p {
	    	margin: 0 0 16px;
	    }
	}
	.photos {
		.photo {
			margin-top: 4em;
			padding: 0 2em;
			img {
				height: auto;
				width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 380px) {
	.Albums .list .album {
		width: 100%;
	}
}